<h1 class="visually-hidden">Telegraph Comments Exercise</h1>

<div class="grid-container">
  <div class="grid-item">
    <div class="comments-header"><p class="comment-amount"><span></span> Comments</p> <p>Sort <button id="likes">Likes</button></p></div>
    <div class=" comments-container">
      
      
    </div>
  </div>
</div>
